.tabs
{
  width:  100%;
  margin: 0 auto;

  .tab
  {
    display:  inline-block;
    position: relative;


    span
    {
      color:       #4f545c;
      display:     block;
      font-weight: bold;
      transition:  color .15s ease-in-out;
    }

    &:hover,
    &.active
    {
      span
      {
        color: $purple 
      }
    }
  }
}
